{% extends "Parent_template.html" %}  <!-- 定义模板页面-->


{% block title %}留言管理{% endblock %}

{% block Navigation %}留言管理{% endblock %}

{% block css %}

{% endblock %}

{% block main %}
<div class="row-fluid sortable ui-sortable">
	<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon user"></i><span class="break"></span>留言管理</h2>
						<div class="box-icon">
							<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
							<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
							<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
						</div>
					</div>
					<div class="box-content">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>标题</th>
                                    <th>昵称</th>
                                    <th>邮箱</th>
                                    <th>内容</th>
                                    <th>头像</th>
                                    <th>状态</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>


</div>



{% endblock %}




{% block script %}

<script>

$(document).ready(function() {

    var table = $('#example').DataTable( {
        "ajax": {
            url:"{{ url_for("getcommment") }}"
        },
        "order": [[ 0, "desc" ]],
         "processing": true,
         stripeClasses: ["odd", "even"],
        "bProcessing" : true,
        "pagingType": "simple_numbers",
         language: {
        "sProcessing":   "处理中...",
        "sLengthMenu":   "显示 _MENU_ 项结果",
        "sZeroRecords":  "没有匹配结果",
        "sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
        "sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix":  "",
        "sSearch":       "搜索:",
        "sUrl":          "",
        "sEmptyTable":     "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands":  ",",
        "oPaginate": {
            "sFirst":    "首页",
            "sPrevious": "上页",
            "sNext":     "下页",
            "sLast":     "末页"
        },
        "oAria": {
            "sSortAscending":  ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    },
        "columnDefs": [ {
            "targets": -1,
            "data": null,
            "defaultContent": '<button class="btn btn-info edit" >回复</button>'+'&nbsp;'+
                '<button class="btn btn-success update">修改状态</button>'
        },{
            "targets": 5,
            "render": function ( data, type, row ) {
                    return '<img width="80" height="80"  src="'+data+'" class="img-rounded">'
                }
            },{
            "targets": 6,
            "render": function ( data, type, row ) {
                    if (data =="屏蔽")
                        return '<span style="color: red">'+data+'</span>'
                    else
                        return data
                }

        }
        ]
    } );

    $('#example tbody').on( 'click', 'button', function () {
        var data = table.row( $(this).parents('tr') ).data();
        {#alert( data[0] +"'s salary is: "+ data[ 5 ] );#}
         if ($(this).hasClass("edit")){
             datas ={
                 "id":data[0]
             }
             layer.open({
                type: 2,
                title: '留言回复',
                shadeClose: false,
                shade: false,
                maxmin: true,
                area: ['95%', '95%'],
                content: '{{ url_for("reply") }}',

                cancel: function(){
                    //右上角关闭回调
                }

        })
         }
         if ($(this).hasClass("update")){
             var state = data[6]
             var id = data[0]
             if(state == "显示"){
                  layer.confirm('你确定修改这个标签的状态吗？', {
                  btn: ['屏蔽','取消'] //按钮
                }, function(){
                  $.ajax({
                     url:"{{ url_for("getcommment") }}",
                     type:"PUT",
                     data:'{"id":"'+id+'","state":"屏蔽"}',
                     contentType:"application/json",
                     success:function (result) {
                      console.log(result)
                        if (result["code"] == 200){
                            table.ajax.reload()
                            layer.msg("修改成功")
                        }
                    }
                 })
                }, function(){

                });
             }
             else {
               layer.confirm('你确定修改这个标签的状态吗？', {
                  btn: ['显示','取消'] //按钮
                }, function(){
                  $.ajax({
                     url:"{{ url_for("getcommment") }}",
                     type:"PUT",
                     data:'{"id":"'+id+'","state":"显示"}',
                     contentType:"application/json",
                     success:function (result) {
                      console.log(result)
                        if (result["code"] == 200){
                            table.ajax.reload()
                            layer.msg("修改成功")
                        }
                    }
                 })
                }, function(){

                });
             }
        }

    } );






} );
</script>


{% endblock %}
