<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>留言列表 -- HoverTree</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/Mycss.css" rel="stylesheet">

</head>
<body>
<div style="margin:0px auto;" class="keleyitable"><h4>留言</h4>

<div id="commit">

</div>
<div id="Model" style="display: none;">
     <div  class="messages">
         <div class="messlist">
              <label>姓名</label>
              <input type="text" id ="name" placeholder="姓名" value="{{ nickname }}">
              <div class="clears"></div>
         </div>
         <div class="messlist">
              <label>电子邮件</label>
              <input type="text"  id="exmil" placeholder="电子邮件" value="{{ exml }}">
              <div class="clears"></div>
         </div>
         <div class="messlist textareas">
              <label>留言内容</label>
              <textarea id="content" placeholder="留言内容">	感谢您的评论，您的评论是对我们最大的支持，我们会继续努力的 ！！！！！！！！！</textarea>
              <div class="clears"></div>
         </div>
         <div class="messsub">
              <input type="submit" id="Add" value="提交" style="background:#00a3eb;color:#fff;">
              <input type="reset" value="重填">
         </div>
     </div>
</div>

<div style="margin:0px auto;" class="keleyitable" ><h4>留言回复列表</h4></div>


<div id="reply"></div>
{#<table>#}
{#<tr><td class="klytd">留言时间：</td><td class="hvttd"></td></tr>#}
{#<tr><td class="klytd">留言人：</td><td class="hvttd"></td></tr>#}
{#<tr><td class="klytd">标题：</td><td class="hvttd"></td></tr>#}
{#<tr><td class="klytd">内容：</td><td class="hvttd"></td></tr>#}
{#<tr><td class="klytd">回复：</td><td class="hvttd"></td></tr>#}
{#</table>#}

</div>








</body>
</html>
<script src="../static/js/jquery-1.9.1.min.js"></script>
<script src="../static/layer-v3.1.1/layer/layer.js"></script>
<script>
   $(function () {
        var id = parent.datas["id"]
        console.log(id)
        $.ajax({
            url:"{{ url_for("reply") }}",
            type:"POST",
            data:'{"id":"'+id+'"}',
            contentType:"application/json",
            success:function (result) {
                //console.log(result["commits"][0])
                commit = result["commits"][0]
                var html ='<table border="0">' +
                            '<tr><td class="klytd">留言时间：</td><td class="hvttd">'+commit["time"]+'</td></tr>' +
                            '<tr><td class="klytd">留言人：</td><td class="hvttd">'+commit['nickname']+'</td></tr>' +
                            '<tr><td class="klytd">标题：</td><td class="hvttd">'+commit['title']+'</td></tr>' +
                            '<tr><td class="klytd">内容：</td><td class="hvttd">'+commit['content']+'</td></tr>' +
                            '<tr><td class="klytd">操作：</td><td class="hvttd" style="text-align: center;"><span class="btn" abc="'+commit["id"]+'" id="add">回复</span></td></tr>' +
                            '</table>'
                $("#commit").append(html)
                 $("#add").click(function(){
                       var id = $(this).attr("abc")
                        $("#Model").show()
                        $("#Add").unbind().click(function () {
                            var name = $("#name").val()
                            var exmil = $("#exmil").val()
                            var content = $("#content").val()
                            var mydate = new Date();
                            var t=mydate.toLocaleString();
                            $.ajax({
                                url:"{{ url_for("reply") }}",
                                type:"PUT",
                                data:'{"id":"'+id+'","name":"'+name+'","exmil":"'+exmil+'","content":"'+content+'"}',
                                contentType:"application/json",
                                success:function (rep) {
                                  if (rep["code"]==200){
                                      $("#Model").hide()
                                       var html ='<table border="0">' +
                                            '<tr><td class="klytd">留言时间：</td><td class="hvttd">'+t+'</td></tr>' +
                                            '<tr><td class="klytd">留言人：</td><td class="hvttd">'+name+'</td></tr>' +
                                            '<tr><td class="klytd">内容：</td><td class="hvttd">'+content+'</td></tr>' +
                                            '</table>'
                                        $("#reply").append(html)
                                  }
                                }
                            })
                        })

                   })
                reply = result["replys"]
                console.log(reply)
                if(reply=="")
                {
                    $("#reply").append("<table><tr><td class='hvttd' style='text-align: center;'>这条留言没有回复</td></tr></table>")
                }else {
                    for (var i=0; i<reply.length; i++) {
                        var html ='<table border="0">' +
                            '<tr><td class="klytd">回复时间：</td><td class="hvttd">'+reply[i]["time"]+'</td></tr>' +
                            '<tr><td class="klytd">回复留言人：</td><td class="hvttd">'+reply[i]['nickname']+'</td></tr>' +
                            '<tr><td class="klytd">回复内容：</td><td class="hvttd">'+reply[i]['content']+'</td></tr>' +
                            '</table>'
                         }
                         $("#reply").append(html)

                }
            }
        })




   })




</script>




